body,dl,dt,dd,ol,ul,li,button,form,h1,h2,h3,h4,h5,h6,hr,p,textarea,th,input {margin:0;padding:0;}
body,input,button,select,textarea {color:#333;font:12px/1.5 "Microsoft YaHei","微软雅黑",arial,simsun;}
li{list-style:none;}
a:link,a:visited,a:active{color:#333;text-decoration:none;}
a:hover{color:#F30;font-weight:bold;}
img{border:none;}
.clear-fix:after {content:"";clear: both;}
/************************top*********************/
.header {
	position: fixed;
	left:0;
	top:0;
	height:50px;
	width:100%;
	background-color: white;
	box-shadow: 0 0 2px rgba(0,0,0,.15);
	z-index: 10;
}
.header-logo {
	float:left;
	width:75px;
	height: 50px;
	line-height: 50px;
	margin-left: 50px;
	background-color: #cf1132;
	text-align: center;
}
.header-logo a {
	color:white;
}
.header-btn {
	float:right;
}
.header-btn > li {
	float:left;
	width:50px;
	line-height: 50px;
	height:50px;
}

/************************container*********************/
.container {
	margin-top: 50px;
	min-width: 1200px;
	background:#cf1132 url(./images/web_bg_back.png) no-repeat 0 0;
	background-size: cover;
}
.container-nav {
	width:100%;
	box-shadow: 0 0 2px rgba(0,0,0,.75);
}
.container-nav a,
.container-nav span {
	color: white;
	font-size:16px;
}
.container-nav > ul {
	width:100%;
	height: 50px;
	margin:0 auto;
	text-align: center;
	background-color: #333;
}
.container-nav > ul > li {
	float:left;
	width:20%;
	height:50px;
	line-height: 50px;
}
.container-nav > ul > li > ul {
	position: relative;
	z-index: 10;
	display: none;
	background-color: #cf1132;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
}
.container-nav > ul > li:hover > ul {
	display: block;
}

/*--------------------------*/
.container-banner {
	width:1200px;
	margin: 0 auto;
}
/*--------------------------*/
.container-game {
	margin: 0 auto;
	margin-top: -4px;
	background-color: #333;
	width:1200px;
	overflow: hidden;
}
.game-begin,
.game-link,
.game-news {
	float:left;
	height:200px;
}
.game-begin {
	width:200px;
}
.game-begin > a {
	font-size:28px;
	width:200px;
	height:200px;
	line-height: 200px;
	text-align: center;
	display: block;
	color:#ccc;
	transition:background-color .5s ease;
}
.game-begin > a:hover {
	background-color: #222;
}
/*------------link------------*/
.game-link {
	width:400px;
}
.game-link img {
	width:400px;
}

/*------------news------------*/
.game-news {
	width: 600px;
}
.game-news a {
	color:white;
}
/**/
.game-news .news-content li {
	list-style-type: circle;
	color:white;
}
.game-news .news-content li span {
	float:right;
}

/************************other************/
.container-other {
	width:100%;
	background-color: #f1f1f1;
}
.other-box {
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.other-box:after {
	content: "";
	clear:both;
}

.other-video,
.other-image {
	width:500px;
	height:400px;
	padding:50px;
}
.other-video {
	float:left;
}
.other-image {
	float:right;
}
.other-title {
	height:50px;
}
.other-content {
	height:350px;
}
.other-show {
	position: relative;
	height:250px;
	background-color: #333;
	overflow: hidden;
}
.other-matte {
	position: absolute;
	top:-100%;
	width: 100%;
	height:250px;
	line-height: 250px;
	text-align: center;
	display: block;
	color: #fff;
	background-color: #222;
	transition: .5s ease;
	font-size:18px;
}
.other-show:hover .other-matte {
	top:0;
}
.other-description {
	text-align: center;
	font-size:16px;
	height:100px;
	line-height:100px;
}

/*******************footer*******************/
.footer {
	min-width: 1200px;
	width:100%;
	background-color: #333;
	height:100px;
}
.footer-box {
	width:200px;
	height:50px;
	margin:0 auto;
	padding:25px;
	color:white;
}
.footer-logo {
	float:left;
	width:50px;
	height:50px;
	line-height: 50px;
	text-align: center;
	background-color: #cf1132;
}
.footer-info {
	width:125px;
	float:left;
	margin-left: 25px;
}
.footer-copyright,
.footer-contact {
	height:25px;
	line-height: 25px;
}

/*****************carousel******************/
#carousel-warp {
	position: relative;
	overflow: hidden;
}
#carousel-warp-main {
	position: relative;
	left: 0;
	top: 0;
	width: 19200px;
	transition: left .5s ease;
	overflow: hidden;
	backface-visibility: hidden;
}
#carousel-warp-main > * {
	float:left;
	display: block;
}
#carousel-warp-main img {
	display: block;
}

#carousel-fade {
    position: relative;
    min-width: 1200px;
}
#carousel-fade-main {
    position: relative;
    height: 600px;
    background-color: #333;
}
#carousel-fade-main > * {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    opacity: 0;
    transition:1.5s linear;
}
#carousel-fade-main a {
    display: block;
}
#carousel-fade-main > .fade-first {
    display: block;
    opacity: 1;
}


/**************Tab********************/
.tab-ctrl > * {
	width:25%;
	height:40px;
	line-height: 40px;
	float:left;
	text-align: center;
}
.tab-ctrl > *:hover {
	font-size:14px;
	background-color: #cf1132;
}
.tab-selected {
	font-size:14px;
	background-color: #cf1132;
}
/**/
.tab-slider {
	width:600px;
}
.tab-slider-container {
	width:2400px;
	transition: margin-left 1s ease;
}
.tab-slider-container .tab-slider-item {
	padding:10px 40px;
	font-size:14px;
	float:left;
	width:520px;
}
.tab-slider-container .tab-slider-item > * {
	line-height: 35px;
	height: 35px;
}
.tab-ctrl,
.tab-slider,
.tab-slider-container {
	overflow: hidden;
}
.tab-ctrl:after,
.tab-slider-container:after {
	content: "";
	clear:both;
}